*.o
*.DS_Store
*.a

oom-*
timeout-*
crash-*
leak-*

WAGenMutate/.vscode/*
JavaScriptCore/.DS_Store
WAGenMutate/.gdb_history


WAfuzzer/crash/*
WAfuzzer/libs/*
WAfuzzer/CMakeFiles/*
WAfuzzer/CMakeCache.txt
WAfuzzer/Makefile
WAfuzzer/WAGenMutate/CMakeFiles/*
WAfuzzer/WAGenMutate/Makefile
WAfuzzer/WAGenMutate/cmake_install.cmake
WAfuzzer/cmake_install.cmake
WAfuzzer/WAGenMutate/generator


WAfuzzer/fuzzer_wasmtime
WAfuzzer/fuzzer_wasm3
WAfuzzer/fuzzer_jsc
WAfuzzer/fuzzer_wasmer
WAfuzzer/data2wasm

WAfuzzer/out/*
WAfuzzer/wasmtime_out/*
WAfuzzer/wasm3_out/*
